body {
  background: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
footer {
  background: #e0e0e0;
  display: block;
  margin-top: 4em;
  padding: 2em 0;
}
header {
  background: color-grisclaro;
  border-bottom: 20px solid #545454;
  display: block;
  margin-bottom: 2.43em;
}
.add img {
  width: 100%;
  height: auto;
}
.add .add2cols {
  display: block;
  margin-top: 22px;
  margin-top: 1.375em;
}
.add .add2cols.top {
  margin-top: 0;
}
.borde1 {
  border-bottom: 2em;
  padding-top: 2em;
}
.blog_element {
  padding: 1em;
  color: #4c4c4c;
}
.blog_element h3 {
  font-size: 2.125em;
}
.blog_element img {
  float: left;
  margin-right: 1em;
  display: inline-block;
}
.blog_element p {
  font-size: 1.5em;
}
.blog_element .inf {
  display: inline-block;
  max-width: 50%;
}
.blog_element .url {
  font-size: 1em;
}
.cajaconborde {
  border: 1px solid #c4c4c4;
  display: block;
  margin-bottom: 1em;
}
.clear {
  clear: both;
}
/* Columnas */
.columns {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: auto;
/*&:last-child
		float none
		margin-right 0*/
}
.columns:first-child,
.columns.alpha {
  margin-left: 0;
}
@media only screen and (min-width: 767px) {
  .columns {
    float: left;
    margin-left: 2.12766%;
    min-height: 1px;
    box-sizing: border-box;
  }
  .columns:first-child,
  .columns.alpha {
    margin-left: 0;
  }
  .columns.one {
    width: 14.89362%;
  }
  .columns.two {
    width: 31.91489%;
  }
  .columns.three {
    width: 48.93617%;
  }
  .columns.four {
    width: 65.95745%;
  }
  .columns.five {
    width: 82.97872%;
  }
  .columns.six {
    width: 100%;
  }
}
.girl a {
  color: #d803c6;
  text-decoration: none;
}
.loader {
  clear: both;
  margin-bottom: 5em;
  padding-bottom: 5em;
}
.logo {
  font-size: 2.25em;
  margin-top: 45px;
}
.logo img {
  width: 100%;
}
.logomenu {
  position: relative;
}
.muestras {
  background: #c4c4c4;
  font-size: 1.5em;
  margin-top: 1em;
  min-height: 5em;
  padding: 2em;
  text-align: center;
}
.navprimary {
  display: block;
  margin-top: 45px;
  width: 100%;
}
.navprimary ul {
  display: block;
  float: right;
  font-weight: lighter;
  list-style: none;
  text-transform: uppercase;
}
.navprimary ul li {
  border-left: 1px solid #c4c4c4;
  color: #606060;
  display: inline-block;
  margin: 0;
  padding: 0.2em 0.5em;
}
.navprimary ul li:first-child {
  border-left: 0;
}
.navprimary ul li a {
  text-decoration: none;
  color: #606060;
}
.navprimary ul li a:hover,
.navprimary ul li a.actual {
  border-bottom: 1px solid #c4c4c4;
}
.perfil {
  background: #fff;
}
.perfil.columns {
  padding: 0.5em;
  position: relative;
}
.perfil .perfil_accion {
  background: rgba(255,255,255,0.8);
  bottom: 2em;
  display: block;
  left: 2em;
  padding: 0.5em 1em;
  position: absolute;
  right: 2em;
}
.perfil .perfil_foto {
  width: 100%;
  height: auto;
}
.popular {
  background: #f2f2f2;
  padding-bottom: 1em;
  padding-top: 1em;
}
.popular .popular_nombre {
  font-size: 2.25em;
  font-size: 36px;
  margin-bottom: 0.5em;
  text-align: center;
}
.popular .popular_caja {
  border-left: 1px solid #c4c4c4;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 32.75%;
}
.popular .popular_caja.seguidores {
  border-left: 0;
}
.popular .popular_caja .popular_cantidad {
  font-size: 1.4em;
  margin: 0.5em 0 1em;
}
.popular .popular_caja .popular_titulo {
  font-size: 1.6em;
  margin: 0.2em 0;
}
.preloader {
  background: #c4c4c4;
  border-radius: 50px;
  height: 30px;
  margin: 50px auto;
  position: relative;
  width: 30px;
  -webkit-animation: preloader 1.5s infinite linear;
  animation: preloader 1.5s infinite linear;
}
.preloader:after {
  border-bottom: 10px solid #c4c4c4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #c4c4c4;
  content: '';
  height: 50px;
  left: -20px;
  position: absolute;
  top: -20px;
  width: 50px;
  -webkit-animation: preloader_after 1.5s infinite linear;
  animation: preloader_after 1.5s infinite linear;
  border-radius: 50px;
}
.producto {
  color: #fff;
  height: 367px;
  margin: 0;
  padding: 0;
  position: relative;
}
.producto .descripcion {
  background: rgba(0,0,0,0.8);
  bottom: 0;
  height: 4em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}
.producto .descripcion img {
  width: 100%;
  height: auto;
}
.producto .descripcion .nombre_marca,
.producto .descripcion .precio {
  display: inline-block;
  vertical-align: top;
}
.producto .descripcion .nombre_marca {
  width: 55%;
  margin-top: 0.5em;
  margin-left: 0.7em;
}
.producto .descripcion .precio {
  background: #d803c6;
  font-size: 1.2em;
  height: 4em;
  padding: 0.2em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20%;
}
.producto .descripcion .precio .detalles {
  border-top: 1px solid #fff;
  font-size: 0.8em;
}
.publicaciones {
  margin-top: 1em;
/*div
		border 1px solid color-gris
		margin-bottom 0.5em
		// margin 0
		// padding 0*/
}
.publicaciones img {
  height: auto;
  width: 100%;
  margin: 0 0 1em;
}
.publicaciones .c {
  overflow: hidden;
}
.publicaciones .columns {
  margin-left: 1em;
}
.publicaciones .columns:first-child {
  margin-left: 0;
}
.publicaciones .columns.four {
  width: 64.837%;
}
/* Filas */
.row {
  margin: 0 auto;
  max-width: 1150px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.row .row {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.row.space10 {
  margin-bottom: 1em;
}
.search_form {
  display: inline-block;
}
.search_form input,
.search_form button {
  background: none;
  border: 1px solid #606060;
  margin: 0;
  padding: 0;
  height: 1.2em;
  vertical-align: middle;
}
.search_form input {
  padding: 0 10;
}
.social {
  float: right;
  margin-top: 16px;
  margin-top: 1em;
}
.trend .perfil {
  border: 1px solid #b0b0b0;
  width: 100%;
}
.trend .perfil figure {
  margin: 0.5em;
}
.trend .perfil figure.foto {
  margin-top: 0.5em;
  padding: 0;
  text-align: center;
}
.trend .perfil .descripcion {
  display: block;
  font-size: 1.25em;
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
}
.trend .perfil .descripcion .nombre,
.trend .perfil .descripcion .summer_love {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #b0b0b0;
}
.trend .perfil .descripcion .nombre {
  border-left: 0;
  text-align: center;
}
.trend .perfil .descripcion .summer_love {
  text-align: center;
}
.trend .perfil .descripcion .summer_love .smm_lv_m {
  width: auto;
  margin: 0 auto;
}
.trend .perfil .descripcion .summer_love .heart {
  display: inline-block;
}
.trend .perfil .descripcion .summer_love .heart .icon-heart.girl {
  margin-left: -0.5em;
  color: #d803c6;
}
.trend .perfil .descripcion .summer_love .heart .icon-heart.boy {
  margin-left: -0.5em;
  color: #01a4b3;
}
.trend .perfil .descripcion .summer_love .love {
  display: inline-block;
  font-size: 1em;
}
.tituloTrendi {
  font-size: 36px;
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
}
.tituloTrendi span {
  font-weight: lighter;
}
.video h3 {
  font-size: 1.5em;
  margin: 0.5em 0 0.2em;
  padding: 0;
}
.video p {
  margin: 0;
  padding: 0;
}
.video .video4cols {
  height: auto;
  min-height: 315px;
  width: 759px;
  width: 100%;
}
.video .video6cols {
  height: auto;
  min-height: 630px;
  width: 1150px;
  width: 100%;
}
@-moz-keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #b0b0b0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #b0b0b0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #b0b0b0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #b0b0b0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes preloader_after {
  0% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
  50% {
    border-top: 10px solid #b0b0b0;
    border-bottom: 10px solid #b0b0b0;
  }
  100% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
}
@-webkit-keyframes preloader_after {
  0% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
  50% {
    border-top: 10px solid #b0b0b0;
    border-bottom: 10px solid #b0b0b0;
  }
  100% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
}
@-o-keyframes preloader_after {
  0% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
  50% {
    border-top: 10px solid #b0b0b0;
    border-bottom: 10px solid #b0b0b0;
  }
  100% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
}
@keyframes preloader_after {
  0% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
  50% {
    border-top: 10px solid #b0b0b0;
    border-bottom: 10px solid #b0b0b0;
  }
  100% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
}
