@import "normalize.css"
@import "../fonts/icomoon.css"

// Variables
color-gris = #c4c4c4
color-gris-caja = #b0b0b0
color-gris-claro = #e0e0e0
color-hombre = #01a4b3
color-mujer = #d803c6

// Mixins
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments
// Estilos
body
	background #ffffff
	font-family 'PT Sans', sans-serif
	font-size 16px
	margin 0
	padding 0

footer
	background color-gris-claro
	display block
	margin-top 4em
	padding 2em 0
header
	background color-grisclaro
	border-bottom 20px solid #545454
	display block
	margin-bottom 2.43em

.add
	img
		width 100%
		height auto
	.add2cols
		display block
		margin-top 22px
		margin-top 1.375em
		&.top
			margin-top 0
.borde1
	border-bottom 2em
	padding-top 2em
.button
	display block
	margin-top 1em
	padding 0.5em 1em
	font-size 1.3em
	text-align center
.blog_element
	padding 1em
	color #4c4c4c
	h3
		font-size 2.125em

	img
		float left
		margin-right 1em
		display inline-block
	p
		font-size 1.5em
	.inf
		display inline-block
		max-width 50%
	.url
		font-size 1em
		
.cajaconborde
	border 1px solid color-gris
	display block
	margin-bottom 1em
.clear
	clear both
.closet
	.marcas
		border 1px solid color-gris
		.marcas_imagen
			width 100%
			img
				width 100%

@import "maqueta"

.girl
	a
		color color-mujer
		text-decoration none
	.button
		background color-mujer
		color #ffffff

.heart
	.icon-heart.girl
		color color-mujer
	.icon-heart.boy
		color color-hombre
.loader
	clear both
	margin-bottom 5em
	padding-bottom 5em
.logo
	font-size 2.25em
	margin-top 45px
	img
		max-width 250px
		width 100%
.logomenu
	position relative
.muestras
	background color-gris
	font-size 1.5em
	margin-top 1em
	min-height 5em
	padding 2em
	text-align center
.navprimary
	display block
	margin-top 45px
	width 100%
	ul
		display block
		float right
		font-weight lighter
		list-style none
		text-transform uppercase
		li
			border-left 1px solid color-gris
			color #606060
			display inline-block
			margin 0
			padding 0.2em 0.5em
			&:first-child
				border-left 0
			a
				text-decoration none
				color #606060
				&:hover,
				&.actual
					border-bottom 1px solid color-gris
.perfil
	background #fff
	&.columns
		padding 0.5em
		position relative
	.perfil_accion
		background rgba(255,255,255,0.8)
		bottom 2em
		display block
		left 2em
		// margin 2em
		padding 0.5em 1em
		position absolute
		right 2em
		i
			display inline-block
			font-size 2em
			margin 0 0.5em
		.perfil_accion_box
			display inline-block
		.perfil_spoint
			border-bottom 1px solid color-gris-caja
			margin-bottom 0.5em
			padding-bottom 0.5em
	.perfil_foto
		width 100%
		height auto
	.perfil_informacion
		h2
			font-size 1.2em
			margin 0
			padding 0
			text-align left
		p
			font-size 0.85em
			margin 0
.popular
	background rgb(242, 242, 242)
	padding-bottom 1em
	padding-top 1em
	.popular_nombre
		font-size 2.25em
		font-size 36px
		margin-bottom 0.5em
		text-align center
	.popular_caja
		border-left 1px solid color-gris
		display inline-block
		margin 0
		padding 0
		text-align center
		vertical-align top
		width 32.75%
		&.seguidores
			border-left 0
		.popular_cantidad
			font-size 1.35em
			margin 0.5em 0 1em
		.popular_titulo
			font-size 1.4em
			margin 0.2em 0
.preloader
	background color-gris
	border-radius 50px
	height 30px
	margin 50px auto
	position relative
	width 30px

	-webkit-animation preloader 1.5s infinite linear
	animation preloader 1.5s infinite linear
	&:after
		border-bottom 10px solid color-gris
		border-left 10px solid transparent
		border-right 10px solid transparent
		border-top 10px solid color-gris
		content ''
		height 50px
		left -20px
		position absolute
		top -20px
		width 50px

		-webkit-animation: preloader_after 1.5s infinite linear;
		animation: preloader_after 1.5s infinite linear;
		border-radius 50px
@keyframes preloader {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);background: color-gris-caja;}
	100% {transform: rotate(360deg);}
}
@keyframes preloader_after {
	0% {border-top:10px solid color-gris;border-bottom:10px solid color-gris;}
	50% {border-top:10px solid color-gris-caja;border-bottom:10px solid color-gris-caja;}
	100% {border-top:10px solid color-gris;border-bottom:10px solid color-gris;}
}
.producto
	color #ffffff
	height 367px
	margin 0
	margin-bottom 1em
	padding 0
	position relative
	img
		width 100%
		height auto
	.descripcion
		background rgba(0,0,0,0.8)
		bottom 0
		height 4em
		margin 0
		overflow hidden
		padding 0
		position absolute
		width 100%
		.nombre_marca,
		.precio
			display inline-block
			vertical-align top
		.nombre_marca
			width 75%
			margin-top 0.5em
			margin-left 0.7em
		.precio
			background color-mujer
			// float right
			font-size 1.2em
			height 4em
			padding 0.2em
			position absolute
			right 0
			text-align center
			top 0
			width 20%
			.detalles
				border-top 1px solid #fff
				font-size 0.8em
	.producto_image
		width 100%
		display block
		img
			width 100%
			border 1px solid color-gris
			margin 0
			padding 0
			display block
.publicaciones
	margin-top 1em
	/*div
		border 1px solid color-gris
		margin-bottom 0.5em
		// margin 0
		// padding 0*/
	img
		height auto
		width 100%
		margin 0 0 1em
	.c
		overflow hidden
	.columns
		margin-left 1em
		&:first-child
			margin-left 0
		&.four
			width 64.837%

@import "registro"
@import "shop"
			

.search_form
	display inline-block
	input,
	button
		background none
		border 1px solid #606060
		margin 0
		padding 0
		height 1.2em
		vertical-align middle
	input
		padding 0 10
.social
	float right
	margin-top 16px
	margin-top 1em
.trend
	.perfil
		border 1px solid color-gris-caja
		margin-bottom: 1.2em;
		width 100%
		figure
			margin 0.5em
			&.foto
				margin-top 0.5em
				padding 0
				text-align center
				// img
		.descripcion
			display block
			font-size 1.25em
			margin-bottom 1em
			margin-top 1em
			position relative
			.nombre,
			.summer_love
				width 48%
				display inline-block
				vertical-align top
				border-left 1px solid color-gris-caja
			.nombre
				border-left 0
				text-align center
			.summer_love
				text-align center
				.smm_lv_m
					width auto
					margin 0 auto
				.heart
					display inline-block
					.icon-heart.girl
						margin-left -0.5em
						color color-mujer
					.icon-heart.boy
						margin-left -0.5em
						color color-hombre
				.love
					display inline-block
					font-size 1em
	.two.columns:nth-child(3n+1)
		margin-left 0
.tituloTrendi
	font-size 36px
	font-size 2.25em
	text-align center
	text-transform uppercase
	span
		font-weight lighter
.uppercase
	text-transform uppercase
.video
	h3
		font-size 1.5em
		margin 0.5em 0 0.2em
		padding 0
	p
		margin 0
		padding 0
	.video4cols
		height auto
		min-height 315px
		width 759px
		width 100%
	.video6cols
		height auto
		min-height 630px
		width 1150px
		width 100%
		
.sidebar
	h3
		background #000
		color #fff
		margin 0
		padding 0.5em 1em
	li
		list-style none
	.opcionesMarca
		display block
		margin 0
		padding 0
	.fondo_color
		background color-mujer
		padding 1em
		color #ffffff



