@import "normalize.css";
@import "../fonts/icomoon.css";
body {
  background: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
footer {
  background: #e0e0e0;
  display: block;
  margin-top: 4em;
  padding: 2em 0;
}
header {
  background: color-grisclaro;
  border-bottom: 20px solid #545454;
  display: block;
  margin-bottom: 2.43em;
}
.add img {
  width: 100%;
  height: auto;
}
.add .add2cols {
  display: block;
  margin-top: 22px;
  margin-top: 1.375em;
}
.add .add2cols.top {
  margin-top: 0;
}
.borde1 {
  border-bottom: 2em;
  padding-top: 2em;
}
.button {
  display: block;
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1.3em;
  text-align: center;
}
.blog_element {
  padding: 1em;
  color: #4c4c4c;
}
.blog_element h3 {
  font-size: 2.125em;
}
.blog_element img {
  float: left;
  margin-right: 1em;
  display: inline-block;
}
.blog_element p {
  font-size: 1.5em;
}
.blog_element .inf {
  display: inline-block;
  max-width: 50%;
}
.blog_element .url {
  font-size: 1em;
}
.cajaconborde {
  border: 1px solid #c4c4c4;
  display: block;
  margin-bottom: 1em;
}
.clear {
  clear: both;
}
.closet .marcas .columns:nth-child(0n+7) {
  margin-left: 0;
}
.closet .marcas .marca {
  border: 1px solid #c4c4c4;
  margin-bottom: 1em;
}
.closet .marcas .marca .marcas_imagen {
  width: 100%;
}
.closet .marcas .marca .marcas_imagen img {
  width: 100%;
}
.columns {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: auto;
/*&:last-child
		float none
		margin-right 0*/
}
.columns:first-child,
.columns.alpha {
  margin-left: 0;
}
@media only screen and (min-width: 767px) {
  .columns {
    float: left;
    margin-left: 2.12766%;
    min-height: 1px;
    box-sizing: border-box;
  }
  .columns:first-child,
  .columns.alpha {
    margin-left: 0;
  }
  .columns.one {
    width: 14.89362%;
  }
  .columns.two {
    width: 31.91489%;
  }
  .columns.three {
    width: 48.93617%;
  }
  .columns.four {
    width: 65.95745%;
  }
  .columns.five {
    width: 82.97872%;
  }
  .columns.six {
    width: 100%;
  }
}
.row {
  margin: 0;
  min-width: 0;
  width: 100%;
}
@media only screen and (min-width: 767px) {
  .row {
    margin: 0 auto;
    max-width: 1150px;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}
.row .row {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.row.space10 {
  margin-bottom: 1em;
}
.girl a {
  color: #d803c6;
  text-decoration: none;
}
.girl .button {
  background: #d803c6;
  color: #fff;
}
.heart .icon-heart.girl {
  color: #d803c6;
}
.heart .icon-heart.boy {
  color: #01a4b3;
}
.loader {
  clear: both;
  margin-bottom: 5em;
  padding-bottom: 5em;
}
.logo {
  font-size: 2.25em;
  margin-top: 45px;
}
.logo img {
  max-width: 250px;
  width: 100%;
}
.logomenu {
  position: relative;
}
.muestras {
  background: #c4c4c4;
  font-size: 1.5em;
  margin-top: 1em;
  min-height: 5em;
  padding: 2em;
  text-align: center;
}
.navprimary {
  display: block;
  margin-top: 45px;
  width: 100%;
}
.navprimary ul {
  display: block;
  float: right;
  font-weight: lighter;
  list-style: none;
  text-transform: uppercase;
}
.navprimary ul li {
  border-left: 1px solid #c4c4c4;
  color: #606060;
  display: inline-block;
  margin: 0;
  padding: 0.2em 0.5em;
}
.navprimary ul li:first-child {
  border-left: 0;
}
.navprimary ul li a {
  text-decoration: none;
  color: #606060;
}
.navprimary ul li a:hover,
.navprimary ul li a.actual {
  border-bottom: 1px solid #c4c4c4;
}
.perfil {
  background: #fff;
}
.perfil.columns {
  padding: 0.5em;
  position: relative;
}
.perfil .perfil_accion {
  background: rgba(255,255,255,0.8);
  bottom: 2em;
  display: block;
  left: 2em;
  padding: 0.5em 1em;
  position: absolute;
  right: 2em;
}
.perfil .perfil_accion i {
  display: inline-block;
  font-size: 2em;
  margin: 0 0.5em;
}
.perfil .perfil_accion .perfil_accion_box {
  display: inline-block;
}
.perfil .perfil_accion .perfil_spoint {
  border-bottom: 1px solid #b0b0b0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
.perfil .perfil_foto {
  width: 100%;
  height: auto;
}
.perfil .perfil_informacion h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  text-align: left;
}
.perfil .perfil_informacion p {
  font-size: 0.85em;
  margin: 0;
}
.popular {
  background: #f2f2f2;
  padding-bottom: 1em;
  padding-top: 1em;
}
.popular .popular_nombre {
  font-size: 2.25em;
  font-size: 36px;
  margin-bottom: 0.5em;
  text-align: center;
}
.popular .popular_caja {
  border-left: 1px solid #c4c4c4;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 32.75%;
}
.popular .popular_caja.seguidores {
  border-left: 0;
}
.popular .popular_caja .popular_cantidad {
  font-size: 1.35em;
  margin: 0.5em 0 1em;
}
.popular .popular_caja .popular_titulo {
  font-size: 1.4em;
  margin: 0.2em 0;
}
.preloader {
  background: #c4c4c4;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  height: 30px;
  margin: 50px auto;
  position: relative;
  width: 30px;
  -webkit-animation: preloader 1.5s infinite linear;
  animation: preloader 1.5s infinite linear;
}
.preloader:after {
  border-bottom: 10px solid #c4c4c4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #c4c4c4;
  content: '';
  height: 50px;
  left: -20px;
  position: absolute;
  top: -20px;
  width: 50px;
  -webkit-animation: preloader_after 1.5s infinite linear;
  animation: preloader_after 1.5s infinite linear;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.publicaciones {
  margin-top: 1em;
/*div
		border 1px solid color-gris
		margin-bottom 0.5em
		// margin 0
		// padding 0*/
}
.publicaciones img {
  height: auto;
  width: 100%;
  margin: 0 0 1em;
}
.publicaciones .c {
  overflow: hidden;
}
.publicaciones .columns {
  margin-left: 1em;
}
.publicaciones .columns:first-child {
  margin-left: 0;
}
.publicaciones .columns.four {
  width: 64.837%;
}
.registro {
  font-size: 16px;
  color: #494949;
}
.registro a {
  color: #000;
  font-weight: bold;
}
.registro header {
  border-bottom: 0;
}
.registro button {
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
  padding: 0.5em 1em;
}
.registro button:hover {
  background: #fff;
  border: 1px solid #b0b0b0;
}
.registro button.registrame {
  float: right;
  margin: 1em 17.02128% 3em;
}
.registro label {
  display: block;
  margin-bottom: 0.5em;
  padding-left: 1em;
  width: 100%;
}
.registro input {
  border: 1px solid #c4c4c4;
  height: 2em;
  margin-bottom: 1.5em;
  padding-left: 0.5em;
}
.registro input.wide-xx {
  width: 100%;
}
.registro .alert {
  background: #f0c5c5;
  border: 1px solid #ca3838;
  color: #7b2121;
  font-size: 0.875rem;
  font-size: 14px;
  font-weight: 600;
  list-style-type: none;
  margin-bottom: 8px;
  margin-top: -0.8em;
  max-width: 100%;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  word-wrap: break-word;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition-duration: 0.2s;
}
.registro .alert:after {
  content: "\2716";
  font-size: 16px;
  position: absolute;
  top: 14%;
  right: 15px;
  z-index: 999;
  color: #ca3838;
}
.registro .confirm {
  display: inline-block;
  width: auto;
  vertical-align: top;
}
.registro .foto_perfil.row:first-child {
  margin-left: 14.89362%;
}
.registro .foto_perfil .foto_perfil_boton {
  position: absolute;
  top: 1em;
  left: 1em;
}
.registro .foto_perfil .foto_perfil_boton i:before {
  font-size: 3em;
}
.registro .foto_perfil .foto_perfil_caja {
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  display: block;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
}
.registro .foto_perfil .foto_perfil_caja img {
  height: auto;
  width: 100%;
}
.registro .foto_perfil .foto_perfil_cargar_foto {
  background: #fff;
  border: 1px solid #c4c4c4;
  display: block;
  left: 1em;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.registro .foto_perfil .foto_perfil_cargar_foto h3 {
  margin: 0;
  padding: 1em 2em 0.5em;
}
.registro .foto_perfil .foto_perfil_cargar_foto ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.registro .foto_perfil .foto_perfil_cargar_foto ul li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.registro .foto_perfil .foto_perfil_cargar_foto ul li a {
  border-top: 1px solid #c4c4c4;
  display: block;
  padding: 1em 2em;
}
.registro .foto_perfil .foto_perfil_cargar_foto ul li a:hover {
  background: #e0e0e0;
}
.registro .foto_perfil .foto_perfil_cargar_foto.hidden {
  opacity: 0;
  display: none;
}
.registro .foto_perfil .foto_perfil_image {
  position: relative;
  height: auto;
  overflow: hidden;
  width: 100%;
}
.registro .foto_perfil .foto_perfil_image.medium {
  max-height: 358px;
  max-width: 365px;
}
.registro .foto_perfil .foto_perfil_image.medium:after {
  background: url("../img/perfil_gb_medium.jpg") no-repeat center bottom;
  content: "";
  display: block;
  height: 358px;
  min-height: 358px;
  min-width: 365px;
  width: 100%;
}
.registro .foto_perfil .foto_perfil_image.full {
  max-height: 615px;
  max-width: 365px;
}
.registro .foto_perfil .foto_perfil_image.full:after {
  background: url("../img/perfil_gb_full.jpg") no-repeat center bottom;
  content: "";
  display: block;
  height: 100%;
  min-height: 615px;
  min-width: 365px;
  width: 100%;
}
.registro .foto_perfil .foto_perfil_nombre {
  border-top: 1px solid #c4c4c4;
  font-size: 1.5em;
  padding: 0.5em 0;
  text-align: center;
}
.registro .heart input {
  display: inline-block;
  vertical-align: top;
  width: auto;
}
.registro .heart label {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
  width: auto;
}
.registro .heart .icon-heart {
  margin-right: 0.5em;
}
.registro .logo {
  display: inline-block;
  margin-top: 45px;
  width: 100%;
}
.registro .logo img {
  margin: 0 auto;
}
.registro .sexo {
  display: inline-block;
  vertical-align: top;
}
.registro .marca {
  border: 1px solid #e0e0e0;
  margin: 0.5em;
  margin-bottom: 1em;
  position: relative;
/*.marcas_select
			position absolute
			right 1em
			bottom 0
			background none
			border 0*/
}
.registro .marca:nth-child(4n) {
  margin-right: 17.02128%;
}
.registro .marca:first-child,
.registro .marca:nth-child(4n+1) {
  margin-left: 17.02128%;
}
.registro .marca .marcas_imagen {
  width: 100%;
}
.registro .marca .marcas_imagen img {
  width: 100%;
}
.registro .pasos {
  border-left: 2px solid #b0b0b0;
  margin-top: 45px;
  padding: 1em;
}
.registro .pasos display inline-block .icono {
  margin-left: 1em;
}
.registro .popup_overlay {
  background: rgba(255,255,255,0.8);
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.registro .popup_overlay .popup_box {
  background: #fff;
  border: 2px solid #b0b0b0;
  display: block;
  left: 50%;
  margin-left: -284px;
  padding: 1em;
  position: absolute;
  top: 20%;
  width: 568px;
  z-index: 101;
}
.registro .popup_overlay .popup_box h3 {
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
  text-transform: uppercase;
}
.registro .popup_overlay .popup_box .botones {
  width: auto;
  float: right;
}
.registro .popup_overlay .popup_box .forgot_pass {
  text-align: left;
}
.registro .popup_overlay .popup_box .camara {
  background: #c4c4c4;
  height: 300px;
  margin: 1em 0;
  width: 100%;
}
.registro .popup_overlay.hidden {
  display: none;
}
.registro .roundedOne {
  bottom: 0;
  height: 20px;
  margin: 20px;
  position: absolute;
  right: 0;
  width: 20px;
}
.registro .roundedOne input[type=checkbox] {
  visibility: hidden;
}
.registro .roundedOne input[type=checkbox]:checked + label:before {
  background: #d803c6;
}
.registro .roundedOne label {
  color: #fff;
  height: 20px;
  left: 0;
  padding-left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.registro .roundedOne label:before {
  background: #c4c4c4;
  content: '+';
  height: 20px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.registro .roundedOne label:hover::before {
  background: #d803c6;
}
.shop .add2cols {
  margin-top: 1em;
  width: 100%;
}
.shop .add2cols img {
  width: 100%;
}
.shop .filtros {
  margin: 0;
  padding: 0;
}
.shop .paginate,
.shop .pagination {
  display: block;
  font-size: 1em;
  list-style: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
}
.shop .paginate li,
.shop .pagination li {
  display: inline-block;
  list-style: none;
}
.shop .paginate li a,
.shop .pagination li a,
.shop .paginate li span,
.shop .pagination li span {
  display: inline-block;
  border: 1px solid #000;
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
}
.shop .productos .columns:nth-child(2n+1) {
  margin-left: 0;
}
.shop .roundedOne {
  margin-bottom: 0.5em;
  position: relative;
}
.shop .roundedOne input[type=checkbox]:checked + label:after {
  background: #fff;
  color: #000;
}
.shop .roundedOne label {
  margin-left: 0.4em;
}
.shop .roundedOne label:after {
  background: #c4c4c4;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  content: '+';
  display: inline-block;
  height: 20px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}
.shop .roundedOne label:hover::after {
  background: #fff;
  color: #000;
}
.shop .roundedOne .filtro_label {
  display: inline-block;
}
.shop #tab {
  display: block;
}
.shop #tab .ui-tabs-nav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.shop #tab .ui-tabs-nav li {
  background: #e0e0e0;
  cursor: pointer;
  border-bottom: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 32.99%;
}
.shop #tab .ui-tabs-nav li:first-child {
  border-left: 0;
}
.shop #tab .ui-tabs-nav li a {
  display: block;
  font-size: 1.18em;
  margin: 0;
  padding: 1em 1.5em;
  width: 100%;
}
.shop #tab .ui-tabs-nav li.ui-state-hover a {
  text-decoration: underline;
}
.shop #tab .ui-tabs-nav li.ui-state-active {
  border-bottom: 1px solid #fff;
}
.shop #tab .ui-tabs-nav li.ui-state-active a {
  background: #fff;
}
.shop #tab .ui-tabs-panel {
  display: block;
  padding: 1em;
}
.producto {
  color: #fff;
  height: 365px;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  position: relative;
}
.producto img {
  width: 100%;
  height: auto;
}
.producto .descripcion {
  background: rgba(0,0,0,0.8);
  bottom: 0;
  height: 4em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}
.producto .descripcion .nombre_marca,
.producto .descripcion .precio {
  display: inline-block;
  vertical-align: top;
}
.producto .descripcion .nombre_marca {
  width: 75%;
  margin-top: 0.5em;
  margin-left: 0.7em;
}
.producto .descripcion .precio {
  background: #d803c6;
  font-size: 1.2em;
  height: 4em;
  padding: 0.2em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20%;
}
.producto .descripcion .precio .detalles {
  border-top: 1px solid #fff;
  font-size: 0.8em;
}
.producto .producto_image {
  width: 100%;
  display: block;
}
.producto .producto_image img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.search_form {
  display: inline-block;
}
.search_form input,
.search_form button {
  background: none;
  border: 1px solid #606060;
  margin: 0;
  padding: 0;
  height: 1.2em;
  vertical-align: middle;
}
.search_form input {
  padding: 0 10;
}
.social {
  float: right;
  margin-top: 16px;
  margin-top: 1em;
}
.trend .perfil {
  border: 1px solid #b0b0b0;
  margin-bottom: 1.2em;
  width: 100%;
}
.trend .perfil figure {
  margin: 0.5em;
}
.trend .perfil figure.foto {
  margin-top: 0.5em;
  padding: 0;
  text-align: center;
}
.trend .perfil .descripcion {
  display: block;
  font-size: 1.25em;
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
}
.trend .perfil .descripcion .nombre,
.trend .perfil .descripcion .summer_love {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #b0b0b0;
}
.trend .perfil .descripcion .nombre {
  border-left: 0;
  text-align: center;
}
.trend .perfil .descripcion .summer_love {
  text-align: center;
}
.trend .perfil .descripcion .summer_love .smm_lv_m {
  width: auto;
  margin: 0 auto;
}
.trend .perfil .descripcion .summer_love .heart {
  display: inline-block;
}
.trend .perfil .descripcion .summer_love .heart .icon-heart.girl {
  margin-left: -0.5em;
  color: #d803c6;
}
.trend .perfil .descripcion .summer_love .heart .icon-heart.boy {
  margin-left: -0.5em;
  color: #01a4b3;
}
.trend .perfil .descripcion .summer_love .love {
  display: inline-block;
  font-size: 1em;
}
.trend .two.columns:nth-child(3n+1) {
  margin-left: 0;
}
.tituloTrendi {
  font-size: 36px;
  font-size: 2.25em;
  text-align: center;
  text-transform: uppercase;
}
.tituloTrendi span {
  font-weight: lighter;
}
.uppercase {
  text-transform: uppercase;
}
.video h3 {
  font-size: 1.5em;
  margin: 0.5em 0 0.2em;
  padding: 0;
}
.video p {
  margin: 0;
  padding: 0;
}
.video .video4cols {
  height: auto;
  min-height: 315px;
  width: 759px;
  width: 100%;
}
.video .video6cols {
  height: auto;
  min-height: 630px;
  width: 1150px;
  width: 100%;
}
.sidebar h3 {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
}
.sidebar li {
  list-style: none;
}
.sidebar .opcionesMarca {
  display: block;
  margin: 0;
  padding: 0;
}
.sidebar .fondo_color {
  background: #d803c6;
  padding: 1em;
  color: #fff;
}
@-moz-keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #b0b0b0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #b0b0b0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #b0b0b0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #b0b0b0;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes preloader_after {
  0% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
  50% {
    border-top: 10px solid #b0b0b0;
    border-bottom: 10px solid #b0b0b0;
  }
  100% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
}
@-webkit-keyframes preloader_after {
  0% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
  50% {
    border-top: 10px solid #b0b0b0;
    border-bottom: 10px solid #b0b0b0;
  }
  100% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
}
@-o-keyframes preloader_after {
  0% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
  50% {
    border-top: 10px solid #b0b0b0;
    border-bottom: 10px solid #b0b0b0;
  }
  100% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
}
@keyframes preloader_after {
  0% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
  50% {
    border-top: 10px solid #b0b0b0;
    border-bottom: 10px solid #b0b0b0;
  }
  100% {
    border-top: 10px solid #c4c4c4;
    border-bottom: 10px solid #c4c4c4;
  }
}
