@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* Mobile First */
body
{
	background: #ffffff;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
footer
{
	background:  #e0e0e0;
	display: block;
	margin-top: 4em;
	padding: 2em 0;
}
header
{
	background:  #e0e0e0;
	border-bottom: 20px solid #545454;
	display: block;
	margin-bottom:  2.43em;
	min-height: 167px
}

.muestras
{
	background: #c4c4c4; 
	font-size: 1.5em;
	margin-top: 1em; 
	min-height:5em;
	padding: 2em;
	text-align: center;
}
/* Columnas
.column, .columns 
{ 
	float: none; 
	margin-left: 0; 
	margin-right: 0; 
	width: auto; 
}
.column:last-child, .columns:last-child 
{ 
	float: none; 
	margin-right: 0; 
} */

/* Columnas
.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
.row .row .column, .row .row .columns { padding: 0; }
.row .centered { margin-left: 0; } */

/* Escritorio */
@media only screen and (min-width: 767px) {
	/* Columnas */
	.column, .columns 
	{
		float: left; 
		margin-left: 2.12766%; 
		min-height: 1px; 
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: border-box; 
	}
	.column:first-child, .columns:first-child, .alpha 
	{ 
		margin-left: 0; /* !important*/
	}

	.logo
	{
		font-size: 2.25em;
		margin-top: 45px;
	}
	.logo img
	{
		width: 100%;
	}
	.logomenu
	{
		position: relative;
	}

	/*Menu Primario*/
	.navprimary
	{
		display: block;
		margin-top: 45px;
		width: 100%;
	}
	.navprimary ul
	{
		display: block;
		float: right;
		font-weight: lighter;
		list-style: none;
		text-transform: uppercase;
	}
	.navprimary ul li
	{
		border-left: 1px solid #c4c4c4;
		color: #606060;
		display: inline-block;
		margin: 0;
		padding: 0.2em 0.5em;
	}
	.navprimary ul li:first-child
	{
		border-left: 0;

	}
	.navprimary ul li a
	{
		text-decoration: none;
		color: #606060;
	}
	.perfil
	{
		background: #fff;
	}
	.perfil_accion
	{
		background: rgba(255,255,255,0.8);
		bottom: 0;
		display: block;
		left: 1em;
		margin: 2em;
		padding: 0.5em 1em;
		position: absolute;
		right: 1em;
	}
	.perfil.columns
	{
		padding: 0.5em;
		position: relative;
	}
	.perfil_foto
	{
		width: 100%;
	}
	.popular
	{
		background: #e0e0e0;
	}
	.popular .nombre
	{
		text-align: center;
		font-size: 36px;
		font-size: 2.25em;
	}
	.popular .seguidores,
	.popular .siguiendo,
	.popular .notificaciones
	{
		border-left: 1px solid #c4c4c4;
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;
		vertical-align: top;
		width: 32.75%;
	}
	.popular .seguidores
	{
		border-left: 0;
	}
	.popular_cantidad
	{
		font-size: 1.4em;
	}
	.popular_titulo
	{
		font-size: 1.6em;
	}
	.publicaciones
	{
		margin-top: 1em;
		width: 100%
	}
	.publicaciones div
	{
		border: 1px solid #4c4c4c;
		margin: 0;
		padding: 0;
	}

	/* Columnas */
	.row 
	{
		margin: 0 auto; 
		max-width: 1024px; 
		min-width: 320px; 
		padding-left: 20px; 
		padding-right: 20px; 
		width: 100%; 
	}
	.row .row 
	{ 
		min-width: 0; 
		padding-left: 0; 
		padding-right: 0; 
	}
	.row .one.column 
	{ 
		width: 14.89362%; 
	}
	.row .one.columns 
	{ 
		width: 14.89362%; 
	}
	.row .two.columns 
	{ 
		width: 31.91489%; 
	}
	.row .three.columns 
	{ 
		width: 48.93617%; 
	}
	.row .four.columns 
	{ 
		width: 65.95745%; 
	}
	.row .five.columns 
	{ 
		width: 82.97872%; 
	}
	.row .six.columns 
	{ 
		width: 100%; 
	}

	.social
	{
		float: right;
		margin-top: 16px;
		margin-top: 1em;
	}
}



/*
{}
*/




